/* You can add global styles to this file, and also import other style files */
body {
  background-color: #232931 !important;
}

.nav-pills .nav-link.active {
  background-color: #2f4e6f !important;
}

.btn{
  background-color:orange !important;
  color: black
}
